@font-face {
    font-family: 'Avantt';
    font-weight: 200;
    src: url("../media/fonts/avantt/Avantt-Light.otf") format("opentype");
}

@font-face {
    font-family: 'Avantt';
    font-weight: 400;
    src: url("../media/fonts/avantt/Avantt-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'Avantt';
    font-weight: 500;
    src: url("../media/fonts/avantt/Avantt-Medium.otf") format("opentype");
}

@font-face {
    font-family: 'Avantt';
    font-weight: 600;
    src: url("../media/fonts/avantt/Avantt-Heavy.otf") format("opentype");
}

@font-face {
    font-family: 'Avantt';
    font-weight: 700;
    src: url("../media/fonts/avantt/Avantt-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'Avantt';
    font-weight: 900;
    src: url("../media/fonts/avantt/Avantt-ExtraBold.otf") format("opentype");
}

<svg width="1199" height="1076" viewBox="0 0 1199 1076" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_657_167)">
<path d="M1199 0H0V1075.7H1199V0Z" fill="#ABEAF7"/>
<path d="M1199 570.4H0V1075.7H1199V570.4Z" fill="url(#paint0_linear_657_167)"/>
<path d="M460.8 102.8C457.1 104.6 453.5 106.4 450.7 109.2C436.8 123.3 438.5 145.6 438.5 145.6C428.2 126.8 406.9 122.5 395.7 125C409.5 117.8 424.9 121.3 434.4 132.3C435.9 118 446 105 460.8 102.8Z" fill="white"/>
<path d="M437.2 200.5C433.2 199.9 429.1 199.5 425.3 200.3C405.9 204.4 395 223.9 395 223.9C396.8 202.5 381.4 187.2 370.7 183.1C386.2 184.7 397.1 196.1 398.9 210.6C408.1 199.5 423.6 194.2 437.2 200.5Z" fill="white"/>
<path opacity="0.4" d="M717.7 150.7C739.46 150.7 757.1 133.06 757.1 111.3C757.1 89.5399 739.46 71.8999 717.7 71.8999C695.94 71.8999 678.3 89.5399 678.3 111.3C678.3 133.06 695.94 150.7 717.7 150.7Z" fill="white"/>
<path opacity="0.4" d="M829 137C829 137 835.9 118.2 863.3 119.9C890.7 121.6 895.8 147.3 895.8 147.3C895.8 147.3 920.6 132.7 932.6 158.4C932.6 158.4 954.9 144.7 961.7 172.1C968.5 199.5 867.5 199.5 867.5 199.5C867.5 199.5 800.7 202.9 792.1 173.8C783.6 144.7 804.2 129.3 829 137Z" fill="url(#paint1_linear_657_167)"/>
<path opacity="0.4" d="M881.3 331.4C881.3 331.4 877.8 295.4 912.1 295.4C929.2 295.4 936.1 310.8 936.1 310.8C936.1 310.8 963.5 290.2 977.2 319.4C977.2 319.4 999 307.4 1006.1 331.4C1013.2 355.4 948.1 353.7 948.1 353.7L895 350.3C895 350.3 883 346.9 881.3 331.4Z" fill="url(#paint2_linear_657_167)"/>
<path opacity="0.4" d="M406.8 312.6C406.8 312.6 410.1 273.9 374.3 278.5C362.3 280 358.9 286.9 358.9 286.9C358.9 286.9 352 274.9 331.5 280C310.9 285.1 313.9 295.3 313.9 295.3C313.9 295.3 305.8 288.6 293.8 293.7C281.8 298.8 281.8 305.7 281.8 305.7C281.8 305.7 259.5 298.8 256.1 316C252.7 333.2 312.6 334.8 312.6 334.8C312.6 334.8 410.2 336.6 406.8 312.6Z" fill="url(#paint3_linear_657_167)"/>
<path opacity="0.4" d="M185.8 137.9C185.8 137.9 185.8 98.5001 228.6 113.9C228.6 113.9 235.5 95.1001 259.4 96.8001C283.4 98.5001 286.8 119.1 286.8 119.1C286.8 119.1 322.8 107.1 319.3 141.4C315.9 175.7 228.5 158.5 228.5 158.5C228.5 158.5 192.7 156.7 185.8 137.9Z" fill="url(#paint4_linear_657_167)"/>
<path d="M1199 531H0V572.1H1199V531Z" fill="#107E9B"/>
<g opacity="0.3">
<path d="M293.8 537.8C298.053 537.8 301.5 534.352 301.5 530.1C301.5 525.847 298.053 522.4 293.8 522.4C289.547 522.4 286.1 525.847 286.1 530.1C286.1 534.352 289.547 537.8 293.8 537.8Z" fill="white"/>
<path d="M262.1 657.7C264.917 657.7 267.2 655.417 267.2 652.6C267.2 649.783 264.917 647.5 262.1 647.5C259.283 647.5 257 649.783 257 652.6C257 655.417 259.283 657.7 262.1 657.7Z" fill="white"/>
<path d="M375.1 693.7C376.978 693.7 378.5 692.178 378.5 690.3C378.5 688.422 376.978 686.9 375.1 686.9C373.222 686.9 371.7 688.422 371.7 690.3C371.7 692.178 373.222 693.7 375.1 693.7Z" fill="white"/>
<path d="M402.5 774.2C405.317 774.2 407.6 771.917 407.6 769.1C407.6 766.283 405.317 764 402.5 764C399.683 764 397.4 766.283 397.4 769.1C397.4 771.917 399.683 774.2 402.5 774.2Z" fill="white"/>
<path d="M282.6 818.7C284.478 818.7 286 817.178 286 815.3C286 813.422 284.478 811.9 282.6 811.9C280.722 811.9 279.2 813.422 279.2 815.3C279.2 817.178 280.722 818.7 282.6 818.7Z" fill="white"/>
<path d="M464.2 870.2C468.011 870.2 471.1 867.111 471.1 863.3C471.1 859.489 468.011 856.4 464.2 856.4C460.389 856.4 457.3 859.489 457.3 863.3C457.3 867.111 460.389 870.2 464.2 870.2Z" fill="white"/>
<path d="M620.1 906.1C621.978 906.1 623.5 904.578 623.5 902.7C623.5 900.822 621.978 899.3 620.1 899.3C618.222 899.3 616.7 900.822 616.7 902.7C616.7 904.578 618.222 906.1 620.1 906.1Z" fill="white"/>
<path d="M765.6 844.4C767.478 844.4 769 842.878 769 841C769 839.122 767.478 837.6 765.6 837.6C763.722 837.6 762.2 839.122 762.2 841C762.2 842.878 763.722 844.4 765.6 844.4Z" fill="white"/>
<path d="M921.5 849.5C924.317 849.5 926.6 847.216 926.6 844.4C926.6 841.583 924.317 839.3 921.5 839.3C918.683 839.3 916.4 841.583 916.4 844.4C916.4 847.216 918.683 849.5 921.5 849.5Z" fill="white"/>
<path d="M952.3 731.4C955.117 731.4 957.4 729.117 957.4 726.3C957.4 723.483 955.117 721.2 952.3 721.2C949.484 721.2 947.2 723.483 947.2 726.3C947.2 729.117 949.484 731.4 952.3 731.4Z" fill="white"/>
<path d="M844.4 721.2C848.211 721.2 851.3 718.111 851.3 714.3C851.3 710.489 848.211 707.4 844.4 707.4C840.589 707.4 837.5 710.489 837.5 714.3C837.5 718.111 840.589 721.2 844.4 721.2Z" fill="white"/>
<path d="M931.8 614.9C934.617 614.9 936.9 612.617 936.9 609.8C936.9 606.983 934.617 604.7 931.8 604.7C928.984 604.7 926.7 606.983 926.7 609.8C926.7 612.617 928.984 614.9 931.8 614.9Z" fill="white"/>
<path d="M866.7 537.8C868.578 537.8 870.1 536.278 870.1 534.4C870.1 532.522 868.578 531 866.7 531C864.822 531 863.3 532.522 863.3 534.4C863.3 536.278 864.822 537.8 866.7 537.8Z" fill="white"/>
</g>
<path d="M577.2 111.3L639.8 160.2L684.3 247.5L581.5 286.9L513 254.4L554.1 149.9L577.2 111.3Z" fill="white"/>
<path d="M511.3 173.9L554.1 149.9L513 254.4L489 221.8L511.3 173.9Z" fill="#EBF9FD"/>
<path d="M453.1 766.5L489 320.5L495.9 304L489 221.8L475.3 256.1L401.7 321.2L394.8 362.3L435.9 389.7L432.5 742.5L453.1 766.5Z" fill="white"/>
<path d="M497.6 300.6L513 254.4L489 221.8L495.9 304L497.6 300.6Z" fill="#D8F4F9"/>
<path d="M540.4 341.7L581.5 286.9L513 254.4L540.4 341.7Z" fill="#D8F4F9"/>
<path d="M699.7 288.6L727.1 269.8L684.3 247.5L581.5 286.9L699.7 288.6Z" fill="#D8F4F9"/>
<path d="M374.3 415.4L370.8 382.8L394.8 362.3L435.9 389.7L435 489.2L374.3 415.4Z" fill="#EBF9FD"/>
<path d="M394.8 716.2L432.5 742.5L435 489.2L374.3 415.4L376 653.5L394.8 716.2Z" fill="#D8F4F9"/>
<path d="M352 634.6L376 653.5L374.3 415.4L334.9 465L352 634.6Z" fill="white"/>
<path d="M523.3 783.6L540.4 341.7L513 254.4L489 320.5L453.1 766.5L466.8 771.6L487.3 790.5L523.3 783.6Z" fill="#EBF9FD"/>
<path d="M545.5 805.9L529.1 633.9L523.3 783.6L545.5 805.9Z" fill="#D8F4F9"/>
<path d="M554.1 845.3L591.8 864.1L597.8 617L530.8 590.7L529.1 633.9L545.5 805.9L554.1 845.3Z" fill="white"/>
<path d="M540.4 341.7L597.8 617L530.8 590.7L540.4 341.7Z" fill="#D8F4F9"/>
<path d="M658.6 841.9L591.8 864.1L597.8 617L639.8 650L658.6 841.9Z" fill="#EBF9FD"/>
<path d="M756.2 328L727.1 269.8L699.7 288.6L581.5 286.9L540.4 341.7L597.8 617L639.8 650L611.3 362.3L720.3 355.4L756.2 328Z" fill="white"/>
<path d="M674 465L611.3 362.3L658.6 841.9L674 465Z" fill="#D8F4F9"/>
<path d="M720.3 355.4L674 465L611.3 362.3L720.3 355.4Z" fill="#EBF9FD"/>
<path d="M805.9 369.1L756.2 328L720.3 355.4L805.9 369.1Z" fill="#EBF9FD"/>
<path d="M722 396.5L805.9 369.1L720.3 355.4L674 465L722 396.5Z" fill="white"/>
<path d="M814.5 400L805.9 369.1L722 396.5L674 465L814.5 400Z" fill="#EBF9FD"/>
<path d="M857.3 490.7L821 425.8L814.5 400L674 465L658.6 841.9L700.1 805.9L723.7 797.3L737.4 781.9L751.1 559.2L744.2 432.5L826.5 507.9L857.3 490.7Z" fill="white"/>
<path d="M790.5 533.6L751 560.6L744.2 432.5L826.5 507.9L790.5 533.6Z" fill="#EBF9FD"/>
<path d="M826.5 572.4L857.3 490.7L827.3 507L751 560.6L826.5 572.4Z" fill="#D8F4F9"/>
<path d="M766.5 572.4H826.5L751 560.6L750.3 572.4H766.5Z" fill="#EBF9FD"/>
<path d="M771.6 769.9L781.9 752.8L809.2 727.4L826.5 572.4H750.3L737.4 781.9L771.6 769.9Z" fill="#D8F4F9"/>
<path opacity="0.5" d="M0 471.382C0 471.382 139.6 492.69 261.2 467.19C382.8 441.69 465.2 484.307 643.2 479.649C821.3 474.992 864.4 460.087 961.9 467.54C1059.4 474.992 1186.1 487.334 1199 490.012V1177H0V471.382Z" fill="#003756"/>
</g>
<defs>
<linearGradient id="paint0_linear_657_167" x1="589.967" y1="437.633" x2="603.511" y2="985.178" gradientUnits="userSpaceOnUse">
<stop offset="0.000868056" stop-color="#004486"/>
<stop offset="0.4004" stop-color="#07427D"/>
<stop offset="1" stop-color="#173E66"/>
</linearGradient>
<linearGradient id="paint1_linear_657_167" x1="879.4" y1="117.662" x2="876.219" y2="166.638" gradientUnits="userSpaceOnUse">
<stop stop-color="white"/>
<stop offset="1" stop-color="#ABEAF7"/>
</linearGradient>
<linearGradient id="paint2_linear_657_167" x1="945.457" y1="292.215" x2="943.652" y2="337.359" gradientUnits="userSpaceOnUse">
<stop stop-color="white"/>
<stop offset="1" stop-color="#ABEAF7"/>
</linearGradient>
<linearGradient id="paint3_linear_657_167" x1="325.991" y1="272.254" x2="332.828" y2="322.847" gradientUnits="userSpaceOnUse">
<stop stop-color="white"/>
<stop offset="1" stop-color="#ABEAF7"/>
</linearGradient>
<linearGradient id="paint4_linear_657_167" x1="258.264" y1="99.8197" x2="250.591" y2="153.155" gradientUnits="userSpaceOnUse">
<stop stop-color="white"/>
<stop offset="1" stop-color="#ABEAF7"/>
</linearGradient>
<clipPath id="clip0_657_167">
<rect width="1199" height="1075.7" fill="white"/>
</clipPath>
</defs>
</svg>
