@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: wiseSans;
    src: url("/media/fonts/wise_sans.ttf");
}

body {
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wise-sans {
    font-family: wiseSans, sans-serif;
}

.body-block {
    width: 100vw;
    position: relative;
}

.main-bg {
    background-image: url(/media/img/big.png);
    background-position: bottom;
    background-size: cover;
}

.gradient-top {
    background: linear-gradient(180deg, #000 10.18%, rgba(0, 0, 0, 0.00) 45.22%);
}

.gradient-bottom {
    background: linear-gradient(0deg, #000 10.18%, rgba(0, 0, 0, 0.00) 45.22%);
}

.gradient-w-left {
    background: linear-gradient(90deg, #FFF 10.18%, rgba(0, 0, 0, 0.00) 45.22%);
}

.down {
    opacity: 0;
}

.text-rows{
    display: flex;
    flex-direction: column;
    width: max-content;
}