@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
    font-family: "Avantt", sans-serif;
    font-optical-sizing: auto;
    font-weight: 16px;
    font-style: normal;
}

.gradient {
    background: linear-gradient(180deg, #ABEAF7 0%, #ABEAF7 55%, #01406A 55.01%, #012948 65.27%);
}

.loader {
    width: 28px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 5px solid;
    border-color: black #84E644;
    animation: l1 1s infinite;
}

@media only screen and (max-width: 640px) {
    .loader {
        border-color: white #2B72F0;
    }
}



@keyframes l1 {
    to {
        transform: rotate(.5turn)
    }
}